@model List<Student>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Studenci:</h1>

    @if(ViewBag.teacher){
        <a class="btn btn-primary" href="@Url.Action("AddRole", new {remove=true})" >Odbierz mi role nauczyciela</a>
    }else{
        <a class="btn btn-primary" href="@Url.Action("AddRole")" >Nadaj mi role nauczyciela</a>
    }

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Index</th>
                <th>Email</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.IndexID</td>
                <td>@item.Email</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("marks", new {id=@item.Id})">oceny</a>
                    <a class="btn btn-primary" href="@Url.Action("edit", new {id=@item.Id})">edytuj</a>
                </td>
            </tr>
        }
    </table>

</div>
